*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #edeef0;
    font-family: "Montserrat", sans-serif;
}

.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    height: 100%;
    width: 100%;
}

.card {
    max-width: 600px;
    padding: 16px;
    background-color: #fff;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
}

.btn {
    background-color: #edeef0;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background: #000;
}

.btn:active {
    background: #edeef0;
    color: #000;
}

.btn-back {
    color: #fff;
    background: #000000;
    width: 250px;
    margin: 25px;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
    text-align: center;
  }
  
  .btn-back:hover {
    color: #000000;
    background: #fff;
    border: 1px solid #000;
    transition: all 0.2s ease;
  }
  
  .btn-back:active {
    color: #fff;
    background: #000000;
  }

@media screen and (max-width: 600px) {
    .card {
        max-width: 280px;
        padding: 8px;
    }

    .btn{
        font-size: 14px;
    }
}